body {
    background-color: #fdffcd;
    margin: 0;
}
.current {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    margin: 0;
    padding: 30px;
    /* display: block; */
    text-align: center;
}
ul {
    display: flex;
    justify-content: space-evenly;
}
li {
    list-style: none;
    font-size: 2em;
}
li a {
    text-decoration: none;
    color: black;
}
a {
    text-decoration: none;
    color: black;
}
header {
    box-shadow: 5px 5px 13px 7px #8080804f;
    margin: 0 100px;
    background-color: #FFFF9B;
}
.title-index {
    margin-top: 30px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

footer {
    box-shadow: 5px 5px 13px 7px #8080804f;
    margin: 0 100px;
    display: flex;
    background-color: #FFFF9B;
    justify-content: space-evenly;
    height: 150px;
    margin-top: 50px;
}
footer a {
    font-size: 2em;
    text-decoration: none;
    color: black;
}
.slide-single {
    display: none;
}

.slide {
    /* display: flex;
    flex-wrap: wrap; */

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.slide-section {
    display: flex;
}
/* .post-container{
    /* position: absolute; */
    /* left: -100px;
    width: 100px;
    height: 100px; */
    /* background: blue; */
    /* -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s; } */

.slide-arrow {
    display: flex;
    margin: auto;
    height: 5rem;
    background-color: #d2d2d286;
    border: none;
    font-size: 4rem;
    cursor: pointer;
  }
  .slide-arrow:hover {
    background-color: #d2d2d2cf;
  }
  #slide-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 40px 40px 0;
    padding: 0 12px 0 4px;
  }
  #slide-arrow-next {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 40px 0 0 40px;
  }
.posts-container {
    /* display: flex;
    flex-wrap: wrap; */

    margin: 93px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* .post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */
.post-row-container {
    display: flex;
    /* flex-wrap: wrap;
    justify-content: center; */
}
.card-row {
    /* padding: 20px;
    margin-inline-start: 20px;
    margin: auto; */
border-radius: 3px;
    box-shadow: 5px 5px 13px 7px #8080804f;

    background-color: #FFFF9B;
    padding: 10px;
    /* margin-inline-start: 20px; */
    /* margin: auto; */
    margin: 8px;
}
.card-row img {
    height: max(150px);
    width: max(300px);
    object-fit: cover;
}
.card-row a p {
    width: 300px;
}
.card-post {
    /* padding: 20px;
    margin-inline-start: 20px;
    margin: auto; */

    /* display: flex;
    flex-direction: column; */
    /* align-items: space-around; */
border-radius: 3px;
    box-shadow: 5px 5px 13px 7px #8080804f;

    padding: 10px;
    /* margin-inline-start: 20px; */
    margin: 5px;
    background-color: #FFFF9B;
}
.card-post img {
    height: max(150px);
    width: max(300px);
    object-fit: cover;
}
.card-post a p {
    width: 300px;
}
.next-posts {
    margin: auto;
    display: block;
}
/* .big-pic {
    display: none;
} */
.about-container {
    margin: 100px;
}

@media (max-width: 800px) {
    .post-row-container {
        display: none;
    }
    .slide-single{
        display:block;
    }
    .slide-arrow {
        display:none;
    }
    .slide-section {
        display: flex;
    justify-content: center;
    }
}