body {
    background-color: #fdffcd;
    margin: 0;
}
.current {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    margin: 0;
    padding: 30px;
    text-align: center;
}
ul {
    display: flex;
    justify-content: space-evenly;
}
li {
    list-style: none;
    font-size: 2em;
}
li a {
    text-decoration: none;
    color: black;
}
a {
    text-decoration: none;
    color: black;
}
header {
    box-shadow: 5px 5px 13px 7px #8080804f;
    margin: 0 100px;
    background-color: #FFFF9B;
}
.title-index {
    margin-top: 30px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
footer {
    box-shadow: 5px 5px 13px 7px #8080804f;
    margin: 0 100px;
    display: flex;
    background-color: #FFFF9B;
    justify-content: space-evenly;
    height: 150px;
    margin-top: 50px;
}
footer a {
    font-size: 2em;
    text-decoration: none;
    color: black;
}
.slide-single {
    display: none;
}
.slide {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.slide-section {
    display: flex;
}
.slide-arrow {
    display: flex;
    margin: auto;
    height: 5rem;
    background-color: #d2d2d286;
    border: none;
    font-size: 4rem;
    cursor: pointer;
  }
.slide-arrow:hover {
    background-color: #d2d2d2cf;
  }
#slide-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 40px 40px 0;
    padding: 0 12px 0 4px;
  }
#slide-arrow-next {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 40px 0 0 40px;
  }
.posts-container {
    margin: 93px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.post-row-container {
    display: flex;
}
.card-row {
    border-radius: 3px;
    box-shadow: 5px 5px 13px 7px #8080804f;
    background-color: #FFFF9B;
    padding: 10px;
    margin: 8px;
}
.card-row img {
    height: max(150px);
    width: max(300px);
    object-fit: cover;
}
.card-row a p {
    width: 300px;
}
.card-post {
    border-radius: 3px;
    box-shadow: 5px 5px 13px 7px #8080804f;
    padding: 10px;
    margin: 5px;
    background-color: #FFFF9B;
}
.card-post img {
    height: max(150px);
    width: max(300px);
    object-fit: cover;
}
.card-post a p {
    width: 300px;
}
.next-posts {
    padding: 5px 15px;
    border: 2px;
    border-radius: 7px;
    background-color: #FFFF9B;
    box-shadow: 5px 5px 13px 7px #8080804f;
    margin: auto;
    display: block;
}
.next-posts:hover {
    cursor: pointer;
}
.about-container {
    padding: 20px;
    box-shadow: 5px 5px 13px 7px #8080804f;
    margin: 100px;
    background-color: #FFFF9B;
}
@media (min-width: 801px){
#hamburger-menu,
  .fa-solid,
  .fa-bars:before {
    display: none;
  }
}
@media (max-width: 800px) {
    .post-row-container {
        display: none;
    }
    .slide-single{
        display:block;
    }
    .slide-arrow {
        display:none;
    }
    .slide-section {
        display: flex;
    justify-content: center;
    }
    footer,
    header {
        
        margin: 0 50px;
    }
    nav {
        position: fixed;
        top: 155px;
        left: 0px;
        display: none;
        text-align: center;
      }
    .list-hamburger {
        margin-top: 0px;
        height: 230px;
        width: 204px;
        display: block;
        background-color: white;
        padding-left: 0px;
        min-width: 204px;
      }
      .label-h-m {
        margin-block: auto;
      }
      #hamburger-menu {
        display: none;
      }
    
      #hamburger-menu:checked ~ nav {
        display: block;
      }
    
      .fa-solid {
        font-size: 80px;
      }
}