.detail-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.back-arrow {
    font-size: 1.5em;
    margin-left: 50px;
}
.back-arrow:hover {
    cursor: pointer;
}
h2 {
    font-size: 3em;
}

.wp-block-image {
    display: none;
    /* margin: auto;
    height: max(200px);
    width: max(400px); */
}
.pic-to-click {
    /* width: 200px; */
    height: max(350px);
    width: max(700px);
    object-fit: cover;
}
.wp-block-image img {
    display: none;
    /* height: max(200px);
    width: max(400px);
    object-fit: cover; */
}
p {
    max-width: 700px;
    margin: 40px;
}
.big-pic {
    display: none;
}